@{
    ViewData["Title"] = "Ajude a Joice! - Solução para o Teste";
}

<div>
    <h1 class="display-3">Ajude a Joyce!</h1>
    <p class="text-primary">São muitos arquivos para a joyce processar, então resolvemos dar uma ajudinha à ela!</p>
    <p>Esta página contém um campo para você definir a pasta de onde os arquivos serão importados. Você pode usar esse campo para definir o diretório onde estão os arquivos que a Joyce precisa processar.</p>
    <p>Uma vez que o diretório seja definido, você pode clicar no botão "Ajudar a Joyce!" para iniciar o processamento dos arquivos.</p> 
    <p>Ao clicar no botão, ele chamará a aplicação que processará o diretório e os arquivos que lá estão para poder gerar o resultado em JSON.</p>
    <p>Com o Resultado esperamos que o trabalho da Joyce fique mais fácil!</p>
</div>
<hr/>
<div class="fullMargin10">
    <form>
        <p class="text-primary">Para escolher o diretório desejado, escolha um arquivo dentro do diretório que deverá ser processado:</p>
        <input type="file" id="directory" name="directory" accept="text/csv"/>
        <button type="reset" class="btn btn-danger fullMargin10">Limpar</button>
        <button type="submit" class="btn btn-primary fullMargin10">Ajudar a Joice!</button>
    </form>
</div>
<hr/>

