﻿@{
    var testDate = new DateOnly(2022, 12, 14);
}

<div class="text-center">
    <h1 class="display-4">Magno Gonçalves Gurgel Lomardo</h1>
    Data do Teste: <br/><h2>@testDate.ToString()</h2>
    <table class="fullMargin10 customTable">
        <thead>
        <td>Cargo Pretendido</td>
        <td>Nível</td>
        <td>Pretensão Salarial</td>
        </thead>
        <tr class="text-primary fullMargin10">
            <td>Desenvolvedor Fullstack</td>
            <td>Pleno</td>
            <td>R$ 8.500,00 + Benefícios</td>
        </tr>
        <tr class="text-success fullMargin10">
            <td>Desenvolvedor Fullstack</td>
            <td>Sênior</td>
            <td>R$ 12.500,00 + Benefícios</td>
        </tr>
    </table>
    <footer>
        <p>Como realizei algumas tarefas que deveriam ser para Sênior, coloquei minha pretensão salarial para atuação como Sênior.<br/>A princípio fui abordado para uma colocação como desenvolvedor Pleno.</p>
    </footer>
</div>
