html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fullMargin10 {
  margin: 10px 10px 10px 10px;
}

.customTable {
  width: 90%;
}

table, th, td {
  
  align-content: center;
  vert-align: middle;
  border: dashed navy 2px;
  padding-left: 5px;
  padding-right: 5px;
}